h2 {
  font-family: "Sahitya";
  color: #768E98; }

form {
  display: block;
  margin: auto; }
  form label h4 {
    font-family: "Yantramanav";
    font-style: italic;
    font-weight: bold;
    color: #E66855;
    font-size: 20px;
    margin-bottom: 0px; }
  form input {
    display: block;
    margin: auto;
    margin-left: 0px;
    margin-top: 5px;
    width: 100%;
    background-color: white;
    color: #768E98;
    border: none;
    border-radius: 2px; }
  form .btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #768E98; }

i.fa.homeIcon {
  color: white;
  font-size: 38px;
  float: right; }
  i.fa.homeIcon:hover {
    cursor: pointer;
    color: #768E98; }

.userPref.col {
  background-color: rgba(230, 104, 85, 0.8); }

h2.userPrefName {
  text-align: center;
  font-size: 35px;
  color: #ffffff; }

._md {
  background: none;
  border-radius: 2px; }

span.ng-scope {
  font-size: 20px;
  font-family: "Sahitya";
  color: #768E98; }

md-pagination-wrapper {
  display: block;
  margin: 0 auto;
  position: relative !important; }

md-tab-item:active .md-ripple-container {
  background-color: #E66855 !important; }

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  background: #E66855 none repeat scroll 0 0 !important;
  color: #E66855 !important; }

.userInfoSection {
  text-align: center;
  font-family: "Yantramanav"; }

form {
  margin: 0 auto;
  display: block; }

img.icon {
  width: 130px;
  margin: 0 auto;
  display: block; }

#mapid {
  height: 350px;
  width: 100%;
  border: 5px solid #E66855;
  float: left; }

.container {
  padding: 10px; }
  .container i {
    font-size: 43px;
    float: right; }
  .container .info ul {
    list-style: none;
    padding: 0px; }

.lotInfo {
  background-color: #8AB6B7;
  border-radius: 5px;
  margin-top: 8px;
  padding-left: 7px;
  padding-top: 1px;
  padding-bottom: 3px; }
  .lotInfo h4 {
    color: #E66855; }
  .lotInfo p {
    color: white; }

.lotInfoDos {
  background-color: #8AB6B7;
  border-radius: 5px;
  margin-top: 8px;
  padding-left: 7px;
  padding-top: 1px;
  padding-bottom: 3px; }
  .lotInfoDos h4 {
    color: #E66855; }
  .lotInfoDos p {
    color: white; }

.info h3 {
  color: white;
  font-size: 23px;
  text-align: center; }

.info .mapResults {
  color: #E66855; }

.info form {
  background-color: #e97c6b;
  padding: 10px;
  padding-top: 1px;
  border-radius: 5px; }

.row.mobile {
  background-color: #768E98; }

.mobileIcon {
  outline: none; }
  .mobileIcon:hover {
    cursor: pointer; }
    .mobileIcon:hover .bar:nth-child(2) {
      transform: translateX(-10px);
      cursor: pointer; }

span.bar {
  width: 40px;
  height: 6px;
  display: block;
  background-color: #ffffff;
  margin: 4px; }

ul li.listItem {
  text-decoration: none;
  font-size: 23px;
  display: inline; }
  ul li.listItem .fa {
    color: #b0bec4;
    background: none;
    padding: 8px;
    border-radius: 50px;
    border: 2px solid #b0bec4; }
    ul li.listItem .fa:hover {
      color: #99abb2;
      border: 2px solid #99abb2; }
  ul li.listItem a:focus {
    outline: none; }

h6.iconTitle {
  display: inline;
  background: none; }

h6.out {
  display: block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-family: "Yantramanav"; }
  h6.out:hover {
    text-decoration: none; }

body {
  background: url("../images/mapIconTwo.png");
  background-position: center;
  background-size: 800px 850px;
  background-repeat: repeat;
  height: auto !important; }

.col {
  padding: 30px;
  display: block;
  margin: auto;
  background-color: rgba(209, 209, 209, 0.8); }

h1.mainTitle {
  color: #E66855;
  border-bottom: 4px solid #768E98;
  font-family: "Sahitya";
  font-size: 56px;
  margin-top: -25px;
  text-align: center; }

p.slogan {
  color: #E66855;
  font-size: 14px;
  font-family: "Yantramanav";
  text-align: center; }

.nav {
  list-style: none;
  margin-top: 10px; }
  .nav input {
    width: 90%;
    height: 30px;
    color: #E66855;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px; }
  .nav form input {
    margin: auto;
    margin-top: 20px; }
  .nav a {
    background-color: #768E98;
    color: #ffffff;
    display: block;
    margin: auto;
    width: 90%;
    height: 45px;
    border: none;
    margin-top: 10px; }
    .nav a:focus {
      outline: none; }
    .nav a h2 {
      display: inline-block;
      margin: auto;
      font-size: 23px;
      font-family: "Sahitya";
      color: #ffffff; }
    .nav a i {
      font-size: 25px;
      float: none; }
  .nav .btn:hover {
    background-color: #E66855;
    color: #ffffff; }
    .nav .btn:hover h2 {
      color: white; }
