h2 {
  font-family: "Sahitya";
  color: #E66855; }

form {
  display: block;
  margin: auto; }
  form label h4 {
    font-family: "Yantramanav";
    font-style: italic;
    font-weight: bold;
    color: #E66855;
    font-size: 20px;
    margin-bottom: 0px; }
  form input {
    display: block;
    margin: auto;
    margin-left: 0px;
    margin-top: 5px;
    width: 100%;
    background-color: white;
    color: #768E98;
    border: none;
    border-radius: 2px; }
  form .btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #8AB6B7; }

i.fa.homeIcon {
  color: white;
  font-size: 38px;
  float: right; }
  i.fa.homeIcon:hover {
    cursor: pointer;
    color: #768E98; }

h2 {
  font-size: 36px; }

ul {
  list-style: none; }
  ul li {
    display: block;
    margin: auto;
    margin-left: 0px; }

.btn-primary {
  display: block;
  margin: 0 auto;
  height: 40px;
  margin-top: 10px;
  background-color: #768E98;
  border: none; }
  .btn-primary:hover {
    background-color: #ED926B; }
    .btn-primary:hover h2 {
      color: white; }
    .btn-primary:hover i {
      color: white; }
  .btn-primary h2 {
    font-size: 23px;
    display: inline-block;
    margin: auto;
    color: #ED926B; }
  .btn-primary i {
    color: #ED926B; }

i.fa.homeIcon {
  color: white;
  font-size: 38px;
  float: right; }
  i.fa.homeIcon:hover {
    cursor: pointer;
    color: #768E98; }

img.icon {
  width: 130px; }

#mapid {
  height: 350px;
  width: auto; }

.container {
  padding: 10px; }
  .container i {
    font-size: 43px;
    float: right; }
  .container .info ul {
    list-style: none;
    padding: 0px; }

h2 {
  font-size: 36px; }

ul {
  list-style: none; }
  ul li {
    display: block;
    margin: auto;
    margin-left: 0px; }

.btn-primary {
  display: block;
  margin: 0 auto;
  height: 40px;
  margin-top: 10px;
  background-color: #768E98;
  border: none; }
  .btn-primary:hover {
    background-color: #ED926B; }
    .btn-primary:hover h2 {
      color: white; }
    .btn-primary:hover i {
      color: white; }
  .btn-primary h2 {
    font-size: 23px;
    display: inline-block;
    margin: auto;
    color: #ED926B; }
  .btn-primary i {
    color: #ED926B; }

i.fa.homeIcon {
  color: white;
  font-size: 38px;
  float: right; }
  i.fa.homeIcon:hover {
    cursor: pointer;
    color: #768E98; }

body {
  background: url("../images/mapIcon.png");
  background-size: 800px 850px; }

.container {
  padding: 30px;
  display: block;
  margin: auto;
  border-radius: 5px;
  background-color: rgba(255, 217, 140, 0.8); }

h1.mainTitle {
  color: #E66855;
  border-bottom: 4px solid #768E98;
  font-family: "Sahitya";
  font-size: 56px;
  margin-top: -25px; }

p {
  color: #E66855;
  font-size: 14px;
  font-family: "Yantramanav"; }

.nav {
  list-style: none;
  margin-top: 10px; }
  .nav li {
    text-align: center; }
    .nav li input {
      width: 90%;
      height: 30px;
      color: #E66855;
      text-align: center;
      border-radius: 5px;
      margin-top: 50px; }
    .nav li form input {
      margin: auto;
      margin-top: 20px; }
    .nav li a {
      background-color: #768E98;
      color: #ED926B;
      display: block;
      margin: auto;
      width: 90%;
      height: 45px;
      border: none;
      margin-top: 10px; }
      .nav li a h2 {
        display: inline-block;
        margin: auto;
        font-size: 23px;
        font-family: "Sahitya";
        color: #ED926B; }
      .nav li a i {
        font-size: 25px;
        float: none; }
    .nav li .btn:hover {
      background-color: #ED926B;
      color: white; }
      .nav li .btn:hover h2 {
        color: white; }
