h2 {
  font-family: "Sahitya";
  color: #E66855;
  text-align: center; }

form label h4 {
  font-family: "Yantramanav";
  font-style: italic;
  font-weight: bold;
  color: #768E98;
  font-size: 20px;
  margin-bottom: 0px; }

i.fa.homeIcon {
  color: white;
  font-size: 38px;
  float: right; }
  i.fa.homeIcon:hover {
    cursor: pointer;
    color: #768E98; }

@media only screen and (min-width: 500px) {
  form label {
    width: 100%;
    text-align: center; } }

.userPref.col {
  background-color: rgba(230, 104, 85, 0.8); }

h2.userPrefName {
  text-align: center;
  font-size: 35px;
  color: #ffffff;
  margin-top: 10px; }

._md {
  background: none;
  border-radius: 2px; }

span.ng-scope {
  font-size: 12px;
  font-family: "Sahitya";
  color: #ffffff;
  font-weight: bold; }

md-pagination-wrapper {
  display: block;
  margin: 0 auto;
  position: relative !important;
  background-color: rgba(230, 104, 85, 0.7);
  padding: 0; }

md-tab-item:active .md-ripple-container {
  background-color: #ffffff !important; }

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  background: #ffffff none repeat scroll 0 0 !important;
  color: #ffffff !important; }

.userInfoSection {
  text-align: center;
  font-family: "Yantramanav";
  color: #768E98; }

.userInfoTitle {
  font-size: 20px;
  font-weight: bold; }

.userInfoDeats {
  font-size: 17px; }

.titleRow {
  border-bottom: 1px solid #ffffff; }

h4.rowTitle {
  font-family: "Yantramanav";
  color: #768E98;
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px; }

table {
  margin: 0 auto; }
  table input.prefInput {
    width: 100% !important; }

md-tabs-canvas md-pagination-wrapper {
  width: 50% !important; }

md-tabs-canvas .md-tab {
  margin: auto;
  width: 50% !important; }

md-content form .save {
  width: 25%;
  margin: auto;
  margin-top: 20px;
  background-color: #8AB6B7; }

@media only screen and (max-width: 400px) {
  md-tabs-canvas md-pagination-wrapper {
    width: 100% !important; } }

img.icon {
  width: 130px;
  margin: 0 auto;
  display: block; }

h2.mapDestination {
  font-family: "Sahitya";
  color: #E66855 !important;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center; }

form {
  display: block;
  margin: auto; }
  form .input-group {
    margin: auto;
    width: 100%; }
  form h2 {
    font-family: "Sahitya";
    color: white;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center; }

button {
  height: 38px; }
  button .fa {
    font-size: 20px; }
  button i {
    color: #E66855; }

.input-group {
  padding: 0px; }

input.geoInput {
  display: inline !important;
  font-size: 12px !important;
  height: 36px;
  width: 100%; }

.fa-spinner {
  color: #768E98;
  position: absolute;
  z-index: 99999;
  left: 45%;
  top: 190px; }

#mapid {
  height: 350px;
  width: 100%;
  border: 5px solid #E66855;
  float: left; }

.container {
  padding: 10px; }
  .container i {
    font-size: 43px;
    float: right; }
  .container .info ul {
    list-style: none;
    padding: 0px; }

.lotInfo, .lotInfoDos {
  margin-top: 5px;
  margin-bottom: 5px; }

h4.lotNameMap {
  font-family: "Yantramanav";
  color: #768E98;
  font-size: 20px;
  font-weight: bold; }

p.lotAddressMap, .lotPrice, .lotDistance, .lotSpace {
  font-family: "Yantramanav";
  color: #768E98;
  font-size: 16px; }
  p.lotAddressMap a, .lotPrice a, .lotDistance a, .lotSpace a {
    background-color: transparent;
    font-family: "Yantramanav";
    font-size: 18px;
    text-align: center;
    color: #768E98; }
    p.lotAddressMap a:hover, .lotPrice a:hover, .lotDistance a:hover, .lotSpace a:hover {
      color: #E66855 !important; }

.lotSpace {
  border-bottom: 2px solid white; }

h3.mapResults {
  color: #E66855;
  font-size: 35px;
  text-align: center;
  font-family: "Sahitya"; }

.leaflet-popup-content {
  margin: 10px !important; }

h2.destMarkerTitle {
  font-size: 18px;
  color: #768E98;
  text-align: center;
  font-weight: bold; }

p.destMarkerAdd {
  font-family: "Yantramanav";
  font-size: 15px;
  color: #E66855;
  text-align: center; }

h2.lotMarkerTitle {
  font-size: 18px;
  text-align: center;
  margin: 2px;
  color: #768E98;
  font-weight: bold; }

p.lotMarkerAdd {
  text-decoration: underline; }
  p.lotMarkerAdd:hover {
    color: #768E98;
    text-decoration: underline; }

p.lotMarkerAdd, .lotMarkerPrice {
  font-family: "Yantramanav";
  font-size: 15px;
  color: #E66855;
  text-align: center;
  margin: 2px !important; }

@media only screen and (min-width: 500px) {
  form.input-group {
    margin: auto;
    width: auto; }
  input.geoInput {
    display: inline !important;
    font-size: 20px !important;
    height: 36px; } }

.row.mobile {
  background-color: #768E98;
  height: 48px; }

.mobileIcon {
  padding-top: 5px;
  outline: none; }
  .mobileIcon:hover {
    cursor: pointer; }
    .mobileIcon:hover .bar:nth-child(2) {
      transform: translateX(-10px);
      cursor: pointer; }

span.bar {
  position: relative;
  z-index: 99999px;
  width: 35px;
  height: 5px;
  display: block;
  background-color: #ffffff;
  margin: 4px; }
  span.bar:nth-child(1) {
    margin-top: 8px; }

ul.menuList {
  padding-top: 2px;
  margin-top: -44px;
  margin-bottom: 0;
  padding-left: 45px; }
  ul.menuList li.listItem {
    text-decoration: none;
    display: inline-block; }
    ul.menuList li.listItem .fa {
      color: #b0bec4;
      background: none;
      padding: 8px;
      font-size: 25px; }
      ul.menuList li.listItem .fa:hover {
        color: #99abb2; }
    ul.menuList li.listItem a:focus {
      outline: none; }

ul.menuText {
  margin-top: -12px;
  margin-bottom: -32px;
  padding-left: 45px; }
  ul.menuText li.textItem {
    text-decoration: none;
    display: inline-block; }
    ul.menuText li.textItem p.homeText, ul.menuText li.textItem .mapText, ul.menuText li.textItem .loginText, ul.menuText li.textItem .usePrefText {
      color: #b0bec4;
      background: none;
      padding: 5px;
      font-weight: bold;
      font-size: 11px;
      font-family: "Yantramanav";
      text-align: center;
      margin-bottom: 27px; }

h6.iconTitle {
  display: inline-block;
  background: none; }

a, h6 {
  display: block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-family: "Yantramanav"; }
  a:hover, h6:hover {
    text-decoration: none; }

.logOut h6 {
  font-size: 16px;
  float: right;
  margin-top: 13px; }

body {
  background: url("../images/mapIconTwo.png");
  background-position: center;
  background-size: 800px 850px;
  background-repeat: repeat;
  height: auto !important; }

form {
  font-size: 17px;
  box-sizing: unset; }

input {
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 2px;
  font-family: "Sahitya" !important;
  font-size: 20px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  width: 100%;
  color: #768E98; }

.mainSearch {
  width: 96%; }

.btn-primary {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  background-color: #768E98;
  color: #ffffff;
  border: none; }
  .btn-primary:hover {
    background-color: #E66855; }
  .btn-primary a:focus {
    outline: none; }

.col {
  padding: 30px;
  display: block;
  margin: auto;
  border-radius: 0;
  background-color: rgba(209, 209, 209, 0.8); }
  .col .callSign {
    text-align: center; }
  .col a {
    background-color: #768E98;
    color: #ffffff;
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 10px; }
    .col a:focus {
      outline: none; }
    .col a h2 {
      display: inline-block;
      margin: auto;
      font-size: 21px;
      font-family: "Sahitya";
      color: #ffffff; }
    .col a i {
      font-size: 22px;
      float: none;
      margin-top: -1px; }

h1.mainTitle {
  color: #E66855;
  border-bottom: 4px solid #768E98;
  font-family: "Sahitya";
  font-size: 56px;
  margin-top: -25px;
  text-align: center; }

p.slogan {
  color: #E66855;
  font-size: 21px;
  font-family: "Yantramanav";
  text-align: center; }

.nav {
  list-style: none; }
  .nav h2 {
    display: inline-block;
    margin: auto;
    font-size: 23px;
    font-family: "Sahitya";
    color: #ffffff; }
  .nav i {
    font-size: 25px;
    float: none; }

.Foot {
  height: 80px;
  text-align: center;
  margin-top: 40px;
  background-color: rgba(209, 209, 209, 0.8); }
  .Foot h4 {
    color: #E66855;
    font-family: "Sahitya";
    font-size: 23px; }
  .Foot p {
    color: #768E98;
    font-family: "Yantramanav";
    font-size: 14px; }

@media screen and (min-width: 500px) {
  ul.menuList {
    padding-left: 35px; }
  input {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px; }
    input .btn-primary {
      width: 40% !important;
      margin: auto;
      text-align: center; }
  a {
    width: 40% !important;
    margin: auto;
    text-align: center; } }

@media screen and (min-width: 990px) {
  input {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px; }
    input .btn-primary {
      width: 40% !important;
      margin: auto;
      text-align: center; }
  a {
    width: 50% !important;
    margin: auto;
    text-align: center; } }

@media screen and (min-width: 800px) {
  .mobileIcon {
    display: none; }
  .mobile .navMenu {
    display: block !important;
    margin-top: 30px;
    padding: 5px; }
    .mobile .navMenu ul.menuList {
      padding-left: 0; }
      .mobile .navMenu ul.menuList li.listItem .fa {
        color: white; }
        .mobile .navMenu ul.menuList li.listItem .fa:hover {
          color: #b0bec4; }
    .mobile .navMenu ul.menuText {
      padding-left: 10px; }
      .mobile .navMenu ul.menuText li.textItem p {
        color: white; } }

@media screen and (max-width: 640px) {
  body {
    background: none; } }
