#mapid { 
	height: 350px;
	width:auto;
	border:5px solid $title;
}

.container {
	padding:10px;
	i{
		font-size:43px;
		float:right;
	}

	.info {
		ul{
			list-style:none;
			padding:0px;
		}
	}
}

.lotInfo {
	background-color:$teal;
	border-radius: 5px;
	margin-top: 8px;
	padding-left:7px;
	padding-top:1px;
	padding-bottom:3px;
	h4{
		color:$title;
	}
	p{
		color:white;
	}
}

.info {
	h3{
		color:white;
		font-size: 23px;
		text-align: center;
	}
	form{
		background-color:lighten($title,5);
		padding:10px;
		padding-top:1px;
		border-radius: 5px;
	}
}
