h2.mapDestination{
	font-family: "Sahitya";
	color:$title !important;
	font-size: 35px;
	margin-top:0;
	margin-bottom: 20px;
	text-align: center;
}

.wrapForm{
	margin:0 auto;
	display:block;
	// width:55%;
}

form{
	display:block;
	margin:auto;
	.input-group{
		margin:auto;
		width:100%;
	}
	h2{
		font-family: "Sahitya";
		color:white;
		font-size: 35px;
		margin-top:0;
		margin-bottom: 20px;
		text-align: center;
	}
}

//specific stylings for geolocation input
button {
	height:38px;
		.fa {
			font-size: 20px;
		}
	i {
		color:$title;
	}
}

.input-group{
	//margin: auto;
	padding:0px;
}

input.geoInput{
	display:inline !important;
	font-size: 12px !important;
	height: 36px;
	width:100%;
}

.fa-spinner {
	color:$dark-blue;
	position:absolute;
	z-index:99999;
	left:45%;
	top: 190px;
	//background-color:white;
}		

#mapid { 
	height: 350px;
	width:100%;
	border:5px solid $title;
	float:left;
}

.container {
	padding:10px;
	i{
		font-size:43px;
		float:right;
	}

	.info {
		ul{
			list-style:none;
			padding:0px;
		}
	}
}


.lotInfo, .lotInfoDos {
	
	margin-top:5px;
	margin-bottom:5px;
}

h4.lotNameMap{
	font-family: "Yantramanav";
	color:$dark-blue;
	font-size: 20px;
	font-weight: bold;

	}

p.lotAddressMap, .lotPrice, .lotDistance, .lotSpace {
	font-family: "Yantramanav";
	color:$dark-blue;
	font-size: 16px;
	a {
		background-color:transparent;
		font-family: "Yantramanav";
		font-size: 18px;
		text-align: center;
		color: $dark-blue;
		&:hover {
			color:$title !important;
		}
	}
	
}

.lotSpace {
	border-bottom: 2px solid white;
}

h3.mapResults{
		color:$title;
		font-size: 35px;
		text-align: center;
		font-family: "Sahitya";
	}

//styling for leaflet popup
.leaflet-popup-content {
	margin:10px !important;
}

//styling for popups on map for destination
h2.destMarkerTitle{
	font-size:18px;
	color:$dark-blue;
	text-align:center;
	font-weight:bold;
}

p.destMarkerAdd {
	font-family:"Yantramanav";
	font-size:15px;
	color:$title;
	text-align:center;
}


//styling for popups for garages
h2.lotMarkerTitle {
	font-size:18px;
	text-align:center;
	margin:2px;
	color:$dark-blue;
	font-weight:bold;
}

p.lotMarkerAdd {
	text-decoration:underline;
	&:hover {
		color:$dark-blue;
		text-decoration:underline;
	}
}

p.lotMarkerAdd, .lotMarkerPrice {
	font-family:"Yantramanav";
	font-size:15px;
	color:$title;
	text-align:center;
	margin:2px !important;
}

@media screen and (min-width: 500px) {

	form.input-group{
		margin:auto;
		// width:auto;
	}

	input.geoInput{
	display:inline !important;
	font-size: 20px !important;
	height: 36px;
	// width:100%;
	}
}