h2.mapDestination{
	font-family: "Sahitya";
	color:$title !important;
	font-size: 35px;
	margin-top:0;
	margin-bottom: 20px;
	text-align: center;
}
	

#mapid { 
	height: 350px;
	width:100%;
	border:5px solid $title;
	float:left;
}

.container {
	padding:10px;
	i{
		font-size:43px;
		float:right;
	}

	.info {
		ul{
			list-style:none;
			padding:0px;
		}
	}
}

// .loop {
// 	margin:8px;
// 	padding:2px;
	

// }

.lotInfo, .lotInfoDos {
	// border:2px solid white;
	// padding:0;
	margin-top:5px;
	margin-bottom:5px;
}

h4.lotNameMap{
	font-family: "Yantramanav";
	color:$dark-blue;
	font-size: 20px;
	font-weight: bold;

	}

p.lotAddressMap, .lotPrice, .lotDistance, .lotSpace {
	font-family: "Yantramanav";
	color:$dark-blue;
	font-size: 16px;
	a {
		background-color:transparent;
		font-family: "Yantramanav";
		font-size: 18px;
		text-align: center;
		color: $dark-blue;
		&:hover {
			color:$title !important;
		}
	}
	
}

.lotSpace {
	border-bottom: 2px solid white;
}

h3.mapResults{
		color:$title;
		font-size: 35px;
		text-align: center;
		font-family: "Sahitya";
	}


