.mobileIcon{ 
    &:hover {
      cursor:pointer;
      .bar{
        &:nth-child(2){
        transform:translateX(-10px);
        cursor:pointer;
        }
      } 
    }  
}

span {
  width:40px;
  height:6px;
  display:block;
  background-color:$dark-blue;
  margin:4px;
}

ul{
  
  li.listItem {
    text-decoration: none;
    font-size: 30px;
    display:inline; 
    margin:1px;
    .fa {
      color:lighten($dark-blue,12);
      background-color:#ffffff;
      padding:8px;
      border-radius: 2px;
      &:hover{
        color:$dark-blue;
      }
    }
  }
}

h6.out {
  display:block;
  cursor:pointer;
  color:$title;
  text-decoration:none;
  //text-align:right;
  font-size:12px;
  font-family: "Yantramanav";
  &:hover{
    text-decoration:none;
  }
}