.userPref.col {
	background-color:rgba(230,104,85,0.8);

}

h2.userPrefName {
	text-align:center;
	font-size:35px;
	color:#ffffff;
	margin-top:10px;

}

._md{
	background:none;
	border-radius:2px;
	//box-shadow:0px 0px 8px gray;

}

span.ng-scope{
	font-size:12px;
	font-family: "Sahitya";
	//text-transform:lowercase;
	color:#ffffff;
	font-weight:bold;
}


md-pagination-wrapper{
	display:block;
	margin:0 auto;
	position:relative !important;
	background-color:rgba(230,104,85,0.7);
	padding:0;
}


md-tab-item:active .md-ripple-container {
	background-color: #ffffff !important;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    background: #ffffff none repeat scroll 0 0 !important;
    color: #ffffff !important;
}

.userInfoSection{
	text-align:center;
	font-family: "Yantramanav";
	color:$dark-blue;
}

button{
	float:right;
	display:inline-block;
}

form{
	margin:0 auto;
	display:block;
}

.userInfoTitle {
	font-size:20px;
	font-weight:bold;
	
}

.titleRow{
	border-bottom:1px solid #ffffff;

}

h3.tableTitle {
	font-family: "Yantramanav";
	color:$dark-blue;
	font-size:20px;
	text-align:center;
	font-weight:bold;
}

h4.rowTitle{
	font-family: "Yantramanav";
	color:#ffffff;
	font-size:15px;
	margin-right:10px;
	margin-top:20px;
	margin-bottom:20px;
}

table {
	margin:0 auto;
}

@media only screen and (min-width: 990px){
	.userPref{
		form{
		.searchInput{
			width:40%;
			margin:auto;
			text-align: center;
		} 
		}
	}

	md-tabs-canvas{
		md-pagination-wrapper{
			width: 50% !important;
		}
		.md-tab{
			margin:auto;
			width:50% !important;
		}
	}

	md-content{
		form{
			.save {
			width: 25%;
			margin:auto;
			margin-top: 20px;
			background-color:$teal;
			}
		}
	}
}

@media only screen and (min-width:500px) {
	.userPref{
		form{
		.searchInput{
			width:40%;
			margin:auto;
			text-align: center;
			value:"Start a New Search";
			} 
		}
	}
}