h2 {
	font-size:36px;
}

ul{
	list-style:none;
	li{
		display: block;
		margin:auto;
		margin-left: 0px;
	}
}

.btn-primary {
	display:block;
	margin:auto;
	height:40px;
	margin-top: 10px;
	h2{
		font-size: 23px;
		display: inline-block;
		margin:auto;
	}
}
