h2.userPrefName {
	text-align:center;
	font-size:50px;
	color:$title;

}

._md{
	background:none;
	border-radius:2px;
	//box-shadow:0px 0px 8px gray;

}

span.ng-scope{
	font-size:20px;
	font-family: "Sahitya";
	text-transform:lowercase;
	color:$dark-blue;
}


md-pagination-wrapper{
	display:block;
	margin:0 auto;
	position:relative !important;
}

md-tab-item:active .md-ripple-container {
	background-color: $title !important;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    background: $title none repeat scroll 0 0 !important;
    color: $title !important;
}
