$background: #C7EBD3;
$title:#E66855;
$dark-blue:#768E98;
$teal:#8AB6B7;
$mellow:#FFF2D8;
$orangred:#ED926B;

@import 'signUp';
@import 'userPref';
@import 'images';
@import 'map';
@import 'mobileMenu';


body {
	background: url('../images/mapIconTwo.png');
	background-position:center;
	background-size:800px 850px;
	background-repeat:repeat;
	height:auto !important;
}

form {
	font-size: 17px;
	box-sizing:unset;
}	
	input {
		// position:relative;
		margin:0 auto;
		display:block;
		border:none;
		border-radius:2px;
		font-family: "Sahitya" !important;
		font-size: 21px !important;
		margin-top:5px;
		margin-bottom: 5px;
		padding:5px;
		text-align: center;
		width:100%;
		color:$dark-blue;
		}
		.mainSearch {
			width:96%;
		}
		.btn-primary{
			margin:0 auto;
			display:block;
			margin-top: 10px;
			background-color:$dark-blue;
			color:#ffffff;
			border:none;
			&:hover {
				background-color:$title;
			}

			a:focus {
				outline:none;
			}
		}

button {
		.fa {
			font-size: 20px;
		}
	i {
		color:$title;
	}
}



.col{

	padding:30px;
	display:block;
	margin:auto;
	border-radius:0;
	background-color:rgba(209, 209, 209, 0.8);
	
	.callSign{
		text-align: center;
	}
	a{
		background-color:$dark-blue;
		color:#ffffff;
		display: block;
		margin:auto;
		width:100%;
		height: 40px;
		border:none;
		margin-top: 10px;
		  	&:focus{
       			outline:none;
      			}
			h2{
				display: inline-block;
				margin:auto;
				font-size: 21px;
				font-family: "Sahitya";
				color:#ffffff;
			}
			i{
				font-size: 22px;
				float:none;
				margin-top: -1px;
			}	
	}

			h2{
				color:white;
			}
					
	
}

h1.mainTitle {
	color:$title;
	border-bottom:4px solid $dark-blue;
	font-family: "Sahitya";
	font-size:56px;
	margin-top:-25px;
	text-align:center;
}

p.slogan{
	color:$title;
	font-size:16px;
	font-family: "Yantramanav";
	text-align:center;

}


.nav {
	list-style:none;

			h2{
				display: inline-block;
				margin:auto;
				font-size: 23px;
				font-family: "Sahitya";
				color:#ffffff;
			}
			i{
				font-size: 25px;
				float:none;
			}	
	}	



@media screen and (min-width:500px) {
	
		input{
		width:50%;
		margin:auto;
		text-align: center;
		margin-top:5px;
		margin-bottom: 5px;

		.btn-primary{
			width:40% !important;
			margin:auto;
			text-align: center;
		}
	}
	a {
			width:40% !important;
			margin:auto;
			text-align: center;
		}	 
}

@media screen and (min-width: 990px){

	input{
		width:50%;
		margin:auto;
		text-align: center;
		margin-top:5px;
		margin-bottom: 5px;
 
		.btn-primary {
			width:40% !important;
			margin:auto;
			text-align: center;
		}
	}
	a {
			width:50% !important;
			margin:auto;
			text-align: center;
		}	
}





