$background: #C7EBD3;
$title:#E66855;
$dark-blue:#768E98;
$teal:#8AB6B7;
$mellow:#FFF2D8;
$orangred:#ED926B;

body {
	background-color:darken($mellow,15);
}

h1.mainTitle {
	color:$title;
	border-bottom:4px solid $dark-blue;
	font-family: "Sahitya";
	font-size:56px;
}

p {
	color:$title;
	font-size:14px;
	font-family: "Yantramanav";
}

.nav {
	list-style:none;
	margin-top: 30px;
	li{
		text-align: center;
		img {

		}
		input {
			width:90%;
			height:30px;
			color:$title;
			text-align: center;
			border-radius:5px;
			margin-top: 50px;
		}
		button{
			background-color:$teal;
			color:white;
			font-family: "Sahitya";
			font-size: 23px;
			width:90%;
			height: 40px;
			border:none;
			margin-top: 20px;

		}
	}
}