	<div class="col-sm-9 col-xs-9 col-md-11 col-lg-11 mobilePage">
		<div class="mobileIcon" ng-click="openMobileNav = !openMobileNav">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>

			<div class="navMenu" ng-init="openMobileNav = false" ng-show="openMobileNav">

				<ul class="menuList">
				
					<li class="listItem"><a ui-sref='home'><i class="fa fa-home" aria-hidden="true"></i></a></li>
					
					<li class="listItem"><a ui-sref='map'><i class="fa fa-globe" aria-hidden="true"></i></a></li>
					
					<li class="listItem"><a ui-sref='login'><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
						
					<li class="listItem"><a ui-sref='userPref'><i class="fa fa-user" aria-hidden="true"></i></a></li>
						
						
	 			</ul>

	 			<ul class="menuText">
				
					<li class="textItem"><p class="homeText">HOME</p></a></li>
						
					<li class="textItem"><p class="mapText">MAP</p></a></li>
					
					<li class="textItem"><p class="loginText">LOGIN</p></a></li>
						
					<li class="textItem"><p class="usePrefText">USER</p></a></li>
							
	 			</ul>

			</div>
	</div>	

	<div class="col-sm-3 col-xs-3 col-md-1 col-lg-1 logOutLink">
		<a class="logOut" ng-click="controller.logout()"><h6 class="out">Log-Out</h6></a>
	</div>
