<div class="mobileIcon" ng-click="openMobileNav = !openMobileNav">
	<span class="bar"></span>
	<span class="bar"></span>
	<span class="bar"></span>
</div>

	<div class="navMenu" ng-init="openMobileNav = false" ng-show="openMobileNav">
		<ul class="menuList">
			<li class="listItem"><a ui-sref='home'>Home</a></li>
			<li class="listItem"><a ui-sref='login'>Login</a></li>
			<li class="listItem"><a ui-sref='map'>View Map</a></li>
			<li class="listItem"><a ui-sref='preference'>Preference</a></li>
			<li class="listItem"><a ui-sref='signUp'>Register</a></li>
			<li class="listItem"><a ui-sref='user'>User</a></li>
		</ul>
	</div>