<div class="container">
	<ul class="nav">
		<li><h1 class="mainTitle">Park-A-Lot</h1></li>
		<li><p>Search through all of the parking spaces downtown to find the best spot!</p></li>
		<li><img src=""></li>
		<li><input type="search" name="start" placeholder="Get Started"></li>
		<li>
			<button class="btn btn-primary">Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i></button>
		</li>
		<li>
			<button class="btn btn-primary">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
		</li>
	</ul>

</div>