<i class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-show="controller.load" ></i>
<span class="sr-only">Loading...</span>

<div id="mapid"></div>

<div class="col-xs-12 map col">

	<form class="newSearch" ng-submit="controller.go()">
				
		<h2 class="mapDestination">New Search</h2>
		
		<div class="container-fluid input-group">
			<span class="input-group-btn">
	       		<button class="btn btn-default" type="button" ng-click="controller.getLocation()"><i class="fa fa-location-arrow" aria-hidden="true"></i></button>
	        </span>
	     		<input class="geoInput" type="text" name="search" placeholder="Destination or Click Your Location" ng-model="controller.form.search">
	     </div>

		<input type="text" name="distance" placeholder="Distance in Feet" ng-model="controller.form.distance">
		<input type="text" name="price" placeholder="Price(Hourly)" ng-model="controller.form.price">
		<input class="btn btn-primary" ng-click="reset(form)" value="FIND" type="submit" name="query">

	</form>

	<hr>
		<div class="loop">
			<h3 class="mapResults">Lot Locations</h3>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 lotInfo" ng-repeat="info in controller.get_locations">
				<h4 class="lotNameMap">Lot Name: {{info.location_name}}</h4>
				<p class="lotAddressMap">Address (link): <a href="http://maps.google.com/?q={{info.address}}{{info.state}}{{info.zip}}" target="_blank"> {{info.address}}{{info.state}}{{info.zip}}</a></p>
				<p class="lotPrice">Price: {{info.price_formatted}}</p>
				<p class="lotDistance">Distance: {{info.distance}} ft</p>
				<p class="lotSpace">Available Spots: {{info.available_spots}}</p>

			</div>	

			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 lotInfoDos" ng-repeat="data in controller.taco">
				<h4 class="lotNameMap">Lot Name: {{data.title}}</h4> 
				<p class="lotAddressMap">Address (link):
					<a href="http://maps.google.com/?q={{data.address}}" target="_blank"> {{data.address}} </a>
				</p> 
				<p class="lotPrice">Price: $ {{data.price}}</p>
				<p class="lotDistance">Distance: {{data.distance}} ft</p>
				<p class="lotSpace">Available Spots: N/A</p>
			</div>	
		</div>	
</div>
