<div id="mapid"></div>

<div class="container">
	<i class="fa fa-home" aria-hidden="true" ui-sref='home'></i>

	<!-- 

	 <script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>

	 <script>
	 	var mymap = L.map('mapid').setView([39.1031, -0.09], 13);

       
	 </script> -->

	<div class="col-xs-12 info">
		<ul>
			<li><h3>Destination</h3> <p>Example Address: Cincinnati, OH, 45123</p></li>
			<li><h3>Lot Locations</h3></li>
			<li><p>Lot Blah</p></li>
		</ul>
	</div>

</div>