<div id="mapid"></div>

<div class="container">
	<i class="fa fa-home" aria-hidden="true" ui-sref='home'></i>
	
	 <script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>

	 <script>
	 	var mymap = L.map('mapid').setView([39.1031, -0.09], 13);

       
	 </script>

	<div class="col-xs-12 info">
		<form ng-submit="controller.go()">
			
			<h3 class="mapDestination">Your Destination</h3>
			<input type="text" name="search" placeholder="Address" ng-model="controller.form.search">
			<input class="btn btn-primary" value="FIND" type="submit" name="query">
		</form>

		<h3 class="mapResults">Lot Locations</h3>
		<div class="lotInfo" ng-repeat="info in controller.get_locations">
			<p class="lotNameMap">Lot Name: {{info.location_name}}</p>
			<p class="lotAddressMap">Address: {{info.address}}{{info.state}}{{info.zip}}</p>
			<p class="lotPrice">Price: {{info.price_formatted}}</p>
			<p class="lotDistance">Distance: {{info.distance}}</p>
			<p class="lotSpace">Available Spots: {{info.available_spots}}</p>
		</div>	
		
	

	</div>

</div>