<div class="container">
	<h2>Welcome, Sign-Up Here!</h2>
	<form>
	  <label for="username"><h4>Username</h4></label>
		<input type="text" id="username" placeholder="Username" required>

	  <label for="password"><h4>Password</h4></label>
		<input type="text" id="password" placeholder="One Uppercase, One Alt Character" required>

		<input type="text" name="confirm" placeholder="Confirm" required>

	  <label for="city"><h4>City</h4></label>
		<input type="text" id="city" placeholder="e.g. Cincinnati" required>

	  <label for="price"><h4>Price Range</h4></label>
		<input type="text" id="price" placeholder="e.g. $2-$10">

	  <label for="distance"><h4>Distance from Location</h4></label>
		<input type="text" id="distance" placeholder="e.g. 1-2 Blocks">

		<input class="btn btn-primary" type="submit" name="submit">
	</form>
</div>