<div class="container">

<i class="fa homeIcon fa-home" aria-hidden="true" ui-sref='home'></i>

<h2>{{controller.user.firstName}} {{controller.user.lastName}}</h2>

<ul>
	<li><h3>Price Range<h3>: {{controller.user.price}}</li>
	<li><h3>Distance<h3>: {{controller.user.distance}}</li>
	<li><h3>Favorite Location<h3>: {{controller.user.favorite}}</li>

	<li><a class="btn btn-primary" href="#/preference">Set Preferences</a></li>
</ul>

<form ng-submit="controller.go()">
	<input type="search" name="start" placeholder="Start a New Search by Address" ng-model="controller.form.search">
</form>

<a class="btn btn-primary" ng-click="controller.logout()"><h2>Log Out</h2> <i class="fa fa-sign-out" aria-hidden="true"></i></a>
</div>