<!-- <div class="pref row"> -->

	<div class="userPref col">

			<img class="icon" src="images/iconTwo.png">

				<h2 class="userPrefName">{{controller.user.firstName}} {{controller.user.lastName}}</h2>

				
				<form ng-submit="controller.go()">
					<input class="searchInput" name="start" type="search" class="form-control" placeholder=" Start New Search(Address)" ng-model="controller.form.search">
				</form>
	</div>

		<div class="bottomHalf col">
			<md-content>
				<md-tabs md-dynamic-height md-border-bottom>
					
						<md-tab class="userTab" label="User Info">
							<md-content class="md-padding">
								<div class="userInfoSection">
									<h3 class="userInfoTitle">Price Range:</h3>
									<p class="userInfoDeats">${{controller.user.price}}</p>
									<hr>
									<h3 class="userInfoTitle">Distance:</h3>
									<p class="userInfoDeats">{{controller.user.distance}} ft</p>
									<hr>
									<h3 class="userInfoTitle">Favorite Location:</h3>
									<div class="favoriteDestination">
										<p class="userInfoDeats">{{controller.user.favorite}}</p>
									</div>
								</div>
							</md-content>
						</md-tab>
					
						
						<md-tab class="prefTab" label="Preferences">
							<md-content class="md-padding">
								
								<form ng-submit="controller.submit()">
									<table>
							

										<tr>
											<td><h4 class="rowTitle">City</h4></td>
											<td><input class="form-control" type="text" name="city" ng-model="controller.preference.city"></td>
										</tr>
										<tr>
											<td><h4 class="rowTitle">Destination</h4></td>
											<td><input class="form-control" type="text" name="destination" ng-model="controller.preference.destination"></td>
										</tr>
										<tr>
											<td><h4 class="rowTitle">Email</h4></td>
											<td><input class="form-control" type="text" name="email" ng-model="controller.preference.email"></td>
										</tr>
										<tr>
											<td><h4 class="rowTitle">Price</h4></td>
											<td><input class="form-control" type="text" name="price" ng-model="controller.preference.price"></td>
										</tr>
										<tr>
											<td><h4 class="rowTitle">Distance</h4></td>
											<td><input class="form-control" type="number" name="distance" ng-model="controller.preference.distance"></td>
										</tr>
										<tr>
											<td><h4 class="rowTitle">Favorite</h4></td>
											<td><input class="form-control" type="text" name="fav" ng-model="controller.preference.favorite"></td>
										</tr>
									</table>

										<input class="save form-control" class="btn btn-primary" type="submit" name="save" value="Save">
								</form>
							</md-content>
						</md-tab>
				
				</md-tabs>
			</md-content>	

		</div>	
<!-- </div>	 -->	
			
