<div class="container">
<h2>{{controller.firstName}}{{controller.lastName}}</h2>
<ul>
	<li>{{user.price}}</li>
	<li>{{user.distance}}</li>
	<li>{{user.query}}</li>
	<li>{{user.likes}}</li>
	<li><a class="btn btn-primary" href="#/preference">Set Preferences</a></li>
</ul>

<form ng-submit="">
	<input type="search" name="start" placeholder="Start a New Search">
</form>

<a class="btn btn-primary" ng-click="controller.logout()"><h2>Log Out</h2> <i class="fa fa-sign-out" aria-hidden="true"></i></a>
</div>